header {margin: 0px;
    border: 2px dotted black;
background-color: green;
text-align: center;
}
header:hover{
  cursor: pointer;
  color: chartreuse;
}

body{
  background-color: aqua;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.5px;
    max-width: 400px;
  }
  
input, select, button {
    padding: 0.5em;
    font-size: 1em;
  }


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
   }
  button:hover{
    background-color: crimson;
  }